In [1]:
# import necessary package

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%matplotlib inline

In [9]:
# loading data from csv

root_dir = "data/IMF/climate-change-data/"
file_name = "4_CO2_Emissions_Emissions_Intensities_and_Emissions_Multipliers.csv"

In [10]:
print(root_dir + file_name)
df = pd.read_csv(root_dir + file_name)

data/IMF/climate-change-data/4_CO2_Emissions_Emissions_Intensities_and_Emissions_Multipliers.csv

In [11]:
df.shape

(8910, 35)

In [12]:
df.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Industry,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Argentina,AR,ARG,CO2 emissions,Millions of Metric tons of CO2,"OECD (2021), OECD Inter-Country Input-Output D...",ECNC,CO2 Emissions,"Environment, Climate Change, Economic Activity...",Accomodation and food services,...,0.284,0.319,0.338,0.377,0.378,0.369,0.371,0.303,0.358,0.344
1,Argentina,AR,ARG,CO2 emissions,Millions of Metric tons of CO2,"OECD (2021), OECD Inter-Country Input-Output D...",ECNC,CO2 Emissions,"Environment, Climate Change, Economic Activity...",Activities of households as employers; undiffe...,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,Argentina,AR,ARG,CO2 emissions,Millions of Metric tons of CO2,"OECD (2021), OECD Inter-Country Input-Output D...",ECNC,CO2 Emissions,"Environment, Climate Change, Economic Activity...",Administrative and support services,...,0.725,0.738,0.765,0.777,0.840,0.794,0.852,0.789,0.846,0.857
3,Argentina,AR,ARG,CO2 emissions,Millions of Metric tons of CO2,"OECD (2021), OECD Inter-Country Input-Output D...",ECNC,CO2 Emissions,"Environment, Climate Change, Economic Activity...","Agriculture, hunting, forestry",...,13.804,14.110,14.616,14.120,15.358,13.728,14.273,13.838,14.121,13.067
4,Argentina,AR,ARG,CO2 emissions,Millions of Metric tons of CO2,"OECD (2021), OECD Inter-Country Input-Output D...",ECNC,CO2 Emissions,"Environment, Climate Change, Economic Activity...",Air transport,...,2.648,2.989,3.094,3.129,3.327,3.323,3.345,3.435,3.564,3.584

In [13]:
df.columns

Index(['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 'CTS Code',
       'CTS Name', 'CTS Full Descriptor', 'Industry', 'Scale', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018'],
      dtype='object')

In [15]:
df["Industry"].unique()

array(['Accomodation and food services',
       'Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use',
       'Administrative and support services',
       'Agriculture, hunting, forestry', 'Air transport',
       'Arts, entertainment and recreation', 'Basic metals',
       'Chemicals and pharmaceutical products',
       'Coke and refined petroleum products',
       'Computer, electronic and optical products', 'Construction',
       'Education', 'Electrical equipment',
       'Electricity, gas, steam and air conditioning supply',
       'Fabricated metal products', 'Financial and insurance activities',
       'Fishing and aquaculture', 'Food products, beverages and tobacco',
       'Human health and social work activities',
       'IT and other information services',
       'Land transport and transport via pipelines',
       'Machinery and equipment n.e.c.',
       'Manufacturing nec; repair and installation of machinery and equipment',
       'Mining and quarrying, energy producing products',
       'Mining and quarrying, non-energy producing products',
       'Mining support service activities',
       'Motor vehicles, trailers and semi-trailers',
       'Other non-metallic mineral products', 'Other service activities',
       'Other transport equipment', 'Paper products and printing',
       'Pharmaceuticals, medicinal chemical and botanical products',
       'Postal and courier activities',
       'Professional, scientific and technical activities',
       'Public administration and defence; compulsory social security',
       'Publishing, audiovisual and broadcasting activities',
       'Real estate activities', 'Rubber and plastics products',
       'Telecommunications',
       'Textiles, textile products, leather and footwear',
       'Warehousing and support activities for transportation',
       'Water supply; sewerage, waste management and remediation activities',
       'Water transport',
       'Wholesale and retail trade; repair of motor vehicles',
       'Wood and products of wood and cork'], dtype=object)

In [25]:
countries = df["Country"].unique()
print(len(countries))
print(countries)

66
['Argentina' 'Australia' 'Austria' 'Belgium' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Cambodia' 'Canada' 'Chile' 'China, P.R.: Hong Kong'
 'China, P.R.: Mainland' 'Colombia' 'Costa Rica' 'Croatia, Rep. of'
 'Cyprus' 'Czech Rep.' 'Denmark' 'Estonia, Rep. of' 'Finland' 'France'
 'Germany' 'Greece' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Ireland'
 'Israel' 'Italy' 'Japan' 'Kazakhstan, Rep. of' 'Korea, Rep. of'
 "Lao People's Dem. Rep." 'Latvia' 'Lithuania' 'Luxembourg' 'Malaysia'
 'Malta' 'Mexico' 'Morocco' 'Myanmar' 'Netherlands, The' 'New Zealand'
 'Norway' 'Peru' 'Philippines' 'Poland, Rep. of' 'Portugal' 'Romania'
 'Russian Federation' 'Saudi Arabia' 'Singapore' 'Slovak Rep.'
 'Slovenia, Rep. of' 'South Africa' 'Spain' 'Sweden' 'Switzerland'
 'Taiwan Province of China' 'Thailand' 'Tunisia' 'Turkey' 'United Kingdom'
 'United States' 'Vietnam']

In [18]:
df["Indicator"].unique()

array(['CO2 emissions', 'CO2 emissions intensities',
       'CO2 emissions multipliers'], dtype=object)

In [21]:
# no null values

df.isnull().sum()

Country                0
ISO2                   0
ISO3                   0
Indicator              0
Unit                   0
Source                 0
CTS Code               0
CTS Name               0
CTS Full Descriptor    0
Industry               0
Scale                  0
1995                   0
1996                   0
1997                   0
1998                   0
1999                   0
2000                   0
2001                   0
2002                   0
2003                   0
2004                   0
2005                   0
2006                   0
2007                   0
2008                   0
2009                   0
2010                   0
2011                   0
2012                   0
2013                   0
2014                   0
2015                   0
2016                   0
2017                   0
2018                   0
dtype: int64

In [23]:
df.dtypes

Country                 object
ISO2                    object
ISO3                    object
Indicator               object
Unit                    object
Source                  object
CTS Code                object
CTS Name                object
CTS Full Descriptor     object
Industry                object
Scale                   object
1995                   float64
1996                   float64
1997                   float64
1998                   float64
1999                   float64
2000                   float64
2001                   float64
2002                   float64
2003                   float64
2004                   float64
2005                   float64
2006                   float64
2007                   float64
2008                   float64
2009                   float64
2010                   float64
2011                   float64
2012                   float64
2013                   float64
2014                   float64
2015                   float64
2016                   float64
2017                   float64
2018                   float64
dtype: object