In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
data = pd.read_csv('data/PCTOT_04-14-2023_16-56-05-36_timeSeries.csv')

In [24]:
data.shape

(4320, 587)

In [25]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,Type Name,Type Code,Attribute,1962,1963,1964,...,2022M6,2022M7,2022M8,2022M9,2022M10,2022M11,2022M12,2023M1,2023M2,Unnamed: 586
0,Greece,174,"Commodity Import Price Index, Individual Commo...",m,"Historical, Fixed Weights, Index",H_FW_IX,Value,32.908821,32.491730,32.980358,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Greece,174,"Commodity Net Export Price Index, Individual C...",xm,"Historical, Fixed Weights, Index",H_FW_IX,Value,175.763916,176.343170,175.383682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greece,174,"Commodity Export Price Index, Individual Commo...",x_gdp,"Historical, Fixed Weights, Index",H_FW_IX,Value,97.683014,97.637825,97.670403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Greece,174,"Commodity Import Price Index, Individual Commo...",m_gdp,"Historical, Fixed Weights, Index",H_FW_IX,Value,93.064941,93.000114,93.055252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Greece,174,"Commodity Net Export Price Index, Individual C...",xm_gdp,"Historical, Fixed Weights, Index",H_FW_IX,Value,104.962204,104.986778,104.959572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,"Yemen, Republic of",474,"Commodity Export Price Index, Individual Commo...",x,"Historical, Rolling Weights, Index",H_RW_IX,Value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4316,"Yemen, Republic of",474,"Commodity Import Price Index, Individual Commo...",m,"Historical, Rolling Weights, Index",H_RW_IX,Value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4317,"Yemen, Republic of",474,"Commodity Net Export Price Index, Individual C...",xm_gdp,"Historical, Rolling Weights, Index",H_RW_IX,Value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4318,South Africa,199,"Commodity Import Price Index, Individual Commo...",m,"Historical, Rolling Weights, Index",H_RW_IX,Value,66.840286,64.783279,67.338066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4319,South Africa,199,"Commodity Import Price Index, Individual Commo...",m_gdp,"Historical, Rolling Weights, Index",H_RW_IX,Value,96.801590,96.801590,96.801590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
vietnam = data[data['Country Name'] == 'Philippines']

In [17]:
vietnam

,Country Name,Country Code,Indicator Name,Indicator Code,Attribute,1990,1991,1992,1993,1994,...,2021,2022,2023,2024,2025,2026,2027,2028,Base Year,Unnamed: 45
28,Philippines,566,"Consumer Prices, period average, percent change",PCPI_PCH,Value,13.201181,19.351056,8.581723,6.757164,12.489404,...,3.927180,5.821158,6.336974,3.239043,3.000000,3.000000,3.000000,3.000000,NaN,NaN
63,Philippines,566,"Consumer Prices, end of period, percent change",PCPIE_PCH,Value,18.177652,13.304721,7.575758,7.042254,10.855263,...,3.078358,8.054299,4.525405,3.000000,3.000000,3.000000,3.000000,3.000000,NaN,NaN
89,Philippines,566,"Gross domestic product, constant prices, Natio...",NGDP_RPCH,Value,3.036967,-0.436367,0.417634,2.181901,4.373632,...,5.703153,7.599256,6.033240,5.807458,6.098146,6.216143,6.333086,6.412315,NaN,NaN
124,Philippines,566,Unemployment rate,LUR,Value,8.400000,10.500000,9.800000,9.275000,9.475000,...,7.783333,5.400000,5.258333,5.083333,5.083333,5.083333,5.083333,5.083333,NaN,NaN
150,Philippines,566,"Gross domestic product, constant prices, purch...",NGDP_R_PPP_PC_PCH,Value,0.691407,-2.703531,-1.879604,-0.164591,2.000084,...,4.331506,6.278014,4.790833,4.629547,4.981537,5.098292,5.214004,5.292400,NaN,NaN
186,Philippines,566,"Balance of Payments, Current Account, Total, N...",BCA_GDP_BP6,Value,-5.335754,-1.996750,-1.655016,-4.861650,-4.032298,...,-1.507981,-4.411013,-2.505017,-2.378644,-1.768387,-1.262140,-0.876350,-0.689961,NaN,NaN
238,Philippines,566,"General government net lending/borrowing, perc...",GGXCNL_GDP,Value,-1.521888,-0.261849,-0.434116,0.628618,-0.444681,...,-6.308521,-5.236584,-4.193022,-3.717199,-3.169090,-2.885187,-2.455968,-2.228699,NaN,NaN

In [26]:
countries = data['Country Name'].unique()

print(len(countries))
countries

180

array(['Greece', 'Grenada', 'Guatemala', 'Guyana',
       'China, P.R.: Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus',
       'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Indonesia', 'India',
       'Ireland', 'Iran, Islamic Republic of', 'Iraq',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Iceland', 'Israel', 'Canada',
       'Switzerland', 'Chile', 'China, P.R.: Mainland', "Côte d'Ivoire",
       'Guinea-Bissau', 'Bahrain, Kingdom of', 'Ecuador', 'Egypt',
       'Cameroon', 'Congo, Democratic Republic of', 'Congo, Republic of',
       'Colombia', 'Comoros', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'Kenya', 'Kyrgyz Republic',
       'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Republic of', 'Kuwait', "Lao People's Democratic Republic",
       'Lebanon', 'Liberia', 'Libya', 'Ukraine', 'Uruguay',
       'United States', 'St. Vincent and the Grenadines',
       'Venezuela, República Bolivariana de', 'Vietnam', 'Vanuatu',
       'Samoa', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'Panama', 'Peru', 'Seychelles',
       'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand', 'Tajikistan',
       'Turkmenistan', 'Timor-Leste, Dem. Rep. of', 'Tonga',
       'Philippines', 'Papua New Guinea', 'Poland', 'Portugal',
       'Paraguay', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia',
       'South Africa', 'Zambia', 'Zimbabwe', 'Tuvalu', 'Tanzania',
       'Uganda', 'Yemen, Republic of', 'Namibia', 'Niger', 'Nigeria',
       'Cabo Verde', 'Norway', 'Nepal', 'Ghana', 'Guinea', 'Gambia, The',
       'North Macedonia, Republic of', 'Mali', 'Malta', 'Myanmar',
       'Maldives', 'Mexico', 'Argentina', 'Armenia, Republic of',
       'United Arab Emirates', 'Burundi', 'Belgium',
       'Azerbaijan, Republic of', 'Mongolia', 'Mozambique', 'Ethiopia',
       'Eritrea', 'St. Lucia', 'Oman', 'Pakistan', 'Spain', 'Estonia',
       'Jordan', 'Japan', 'Latvia', 'Suriname', 'Italy', 'Jamaica',
       'Finland', 'Fiji', 'New Zealand', 'Malaysia', 'Nicaragua',
       'Mauritius', 'Malawi', 'Austria', 'Australia', 'Madagascar',
       'Germany', 'Luxembourg', 'France', 'Gabon', 'Morocco', 'Moldova',
       'United Kingdom', 'Mauritania', 'Costa Rica', 'Cyprus',
       'Czech Republic', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Afghanistan, Islamic Republic of', 'Sri Lanka',
       'Lesotho', 'Lithuania', 'Montenegro\xa0', 'Georgia',
       'Antigua and Barbuda', 'Angola', 'Albania', 'Kazakhstan',
       'Serbia, Republic of', 'São Tomé and Príncipe', 'Slovak Republic',
       'Slovenia', 'Sweden', 'Eswatini, Kingdom of', 'Netherlands'],
      dtype=object)

In [27]:
indicator = data['Indicator Name'].unique()

print(len(indicator))
indicator

6

array(['Commodity Import Price Index, Individual Commodites Weighted by Ratio of Imports to Total Commodity Imports',
       'Commodity Net Export Price Index, Individual Commodities Weighted by Ratio of Net Exports to Total Commodity Trade',
       'Commodity Export Price Index, Individual Commodites Weighted by Ratio of Exports to GDP',
       'Commodity Import Price Index, Individual Commodites Weighted by Ratio of Imports to GDP',
       'Commodity Net Export Price Index, Individual Commodities Weighted by Ratio of Net Exports to GDP',
       'Commodity Export Price Index, Individual Commodites Weighted by Ratio of Exports to Total Commodity Exports'],
      dtype=object)

In [44]:
import xlrd

# Open the Excel file
workbook = xlrd.open_workbook('data/WEOApr2023all.xls')

# Read a specific sheet from the workbook
sheet = workbook.sheet_by_index(0)

# Iterate over rows and columns to access the data
for row in range(sheet.nrows):
    for col in range(sheet.ncols):
        cell_value = sheet.cell_value(row, col)
        print(cell_value)

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'W\x00E\x00O\x00 \x00'

In [42]:
mif_coutries = pd.read_excel('data/WEOApr2023all.xls', engine='openpyxl')

BadZipFile: File is not a zip file

In [21]:
import pymongo

In [22]:
# Connect to MongoDB

client = pymongo.MongoClient("mongodb://localhost:27017")
db = client['bank']
collection = db['customers']

In [23]:
# Query the database and retriver the data

data = collection.find()

In [24]:
# Convert a MongoDB Cursor to Panda DataFrame

df = pd.DataFrame(list(data))

In [25]:
df.head()

,_id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,646315439d25d2fa22c642ef,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,227,4,999,0,nonexistent,no
1,646315439d25d2fa22c642f0,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,no
2,646315439d25d2fa22c642f1,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,yes
3,646315439d25d2fa22c642f2,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,no
4,646315439d25d2fa22c642f3,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,no